@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #0071FF;
    --light-blue: #B6DBF6;
    --dark-blue: #005DD1;
    --grey: #f2f2f2;
}


body {
      margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
    
}

.input-block
{
    background-image: url('https://images.unsplash.com/photo-1508514177221-188b1cf16e9d?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    min-height:80%;
    align-items: center;
    justify-content: space-evenly;

}

@media screen and (max-width: 768px) {
    .input-block {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center align items */
    }
}


.containeri 
{
  
    margin-left: 10px;
    padding: 15px;
    background: #fff;
    opacity: 0.8;
}



.containeri form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.containeri img
{
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: 100%;    /* Maintain the aspect ratio */
}


.container {
    max-width: 400px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 30px;
}
.img-area {
    position: relative;
    width: 100%;
    height: 200px;
    background: var(--grey);
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-area .icon {
    font-size: 100px;
}
.img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.img-area p {
    color: #999;
}
.img-area p span {
    font-weight: 600;
}
.img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}
.img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
}
.img-area.active:hover::before {
    opacity: 1;
}


.navbar {
    margin:0;
}
#navitem1 {
    color: #323f4b;
    font-family: Roboto;
}

#navitem2 {
    color: #323f4b;
    font-family: Roboto;
}

#navitem3 {
    color: #323f4b;
    font-family: Roboto;
}

#navitem4 {
    color: #323f4b;
    transition: color 0.3s ease-in-out; 
    font-family: Roboto;
}

.nav-link {
    transition: color 0.3s, transform 0.3s;
}
.custom-button {
    color: white;
    background-color: #5ca1f0;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 10px;
}

.res-head
{
    width: 100%;
    background-color: #999;
}


.wrapper {
    max-width: 58%;
    margin: auto;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  
  .accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.1rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .accordion i {
    font-size: 1.2rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active {
    border: none;
  }



  

  #userInput {
    width: 300px;
    height: 200px; /* You can adjust this value as needed */
    font-size: 16px; /* You can adjust this value as needed */
  }

  
.content{
    border: 3px solid black;
    margin-left: 15%;
    width: 70%;
    align-items: center;
    text-align: justify;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
  }
  .info .content p{
    margin-bottom: 20px;
  }
